.form-page {
    margin-top: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
    max-width: 500px !important;
    background-image: linear-gradient(to right, #1e2936, #121a24);
    border-radius: 10px;
    padding: 20px 30px;
}

.form-container {
    max-width: 500px;
}

.form-title {
    color: #dededf;
    text-align: center;
    padding-bottom: 20px;
}

.form-question {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.choice {
    color: rgb(236, 225, 225); 
}

.grid-slider-input {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slider-input input {
    color: white;
}

.input-number {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-button {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}