.login-container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
    border-radius: 12px;
    max-width: fit-content;
    margin-top: 100px;
    padding: 50px 75px !important;
    background-image: linear-gradient(to right, #006f9b, #003575);
}

.login-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.login-text {
    font-size: 2rem !important;
    font-weight: 600 !important;
    color: white;
}

.login-icon {
    background-color: #26babd !important;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 100%;
}

.login-label {
    color: white !important;
}

.login-input .MuiInputBase-input {
    color: white !important;
}

.show-password-icon {
    color: white !important;
}

.login-input {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
}

.login-button {
    display: flex;
    justify-content: center;
    margin: 30px; 
}

.login-button Button {
    background-color: #3498db !important;
    padding: 10px 20px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(52, 152, 219, 0.3);
    position: relative;
    top: 12px;
    text-transform: none !important;
}

.login-error {
    display: flex;
    justify-content: center;
    color: #dc3545;
    margin-bottom: 20px;
}

.login-error-text {
    font-size: 18px !important;
    font-weight: 500 !important;
}

.redirect-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redirect-title {
    color: white;
    margin-bottom: 10px !important;
}

.redirect-login Button {
    background-color: #3498db !important;
    padding: 12px 30px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(52, 152, 219, 0.3) !important;
    position: relative;
    top: 12px;
    margin-bottom: 10px;
}

.login-input-error {
    color: #db2d2d !important;
    font-size: 14px !important;
}