.error-page {
    padding: 100px;
    margin-top: 200px !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: rgba(215, 220, 225, 0.92);
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.error-emoji {
    color: #268af5;
}

.error-message-text {
    font-size: 24px !important;
    margin-bottom: 20px !important;
    color: black;
}

.error-home-button {
    text-transform: none !important;
    font-size: 16px !important;
    padding: 10px 12px !important;
    width: 80px;
}