.no-data-grid {
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 100px;
}

.no-data-text {
    font-size: 24px !important;
    font-weight: bold !important;
}
