.rent-confirmation-page {
    width: 70%;
    margin: 150px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.rental-final {
    background-image: linear-gradient(to right, #006f9b, #003575);
    min-height: 350px !important;
    border-radius: 12px !important;
}

.rental-final-success {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px
}

.rental-final-title {
    font-size: 24px !important;
    font-weight: bold !important;
    color: #66bb6a;
    margin: 32px 0px !important;
}

.success-icon {
    font-size: 36px !important;
    color: #ffde34;
    margin: 32px 0px !important;
}

.rental-final-content {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    text-align: center;
}

.rental-final-subtitle {
    font-size: 1.8rem !important;
    color: #66bb6a;
    margin-bottom: 1rem;
    font-weight: 700;
}

.rental-final-text {
    border-bottom: 1px solid #333;
    color: #e0e0e0;
    margin-bottom: 1.5rem !important;
    padding-bottom: 10px !important;
    line-height: 1.6;
    margin: 0 auto 1.5rem;
    font-size: 1.5rem !important;
}

.team-message {
    color: #b3b3b3;
    font-style: italic;
    padding: 1rem;
    margin: 0 auto;
    font-size: 1.2rem !important;
}

.rental-final-button {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.see-rented-cars-button {
    text-transform: none !important;
    margin-bottom: 30px !important;
    font-size: 20px !important;
}

@media (max-width: 1500px) {
    .rental-final {
        min-width: 500px;
    }
}