.logs-page {
    padding-top: 20px !important;
    background-color: inherit !important;
}

.logs-input {
    display: flex !important;
    width: 100% !important;
}

.logs-form {
    width: 150px !important;
    margin-right: auto !important;
    margin-left: 100px !important;
}

.logs-table {
    margin: 20px auto;
    width: fit-content;
}