.loading-screen-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.search-page {
    max-width: 1000px;
    margin: 150px auto;
    padding: 30px;
    background-image: linear-gradient(to right, #006f9b, #003575);
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.search-car {
    font-size: 40px !important;
    margin-right: 2px !important;
    color: white !important;
}

.search-title {
    font-size: 2rem !important;
    font-weight: 600 !important;
    color: white !important;
    margin-bottom: 20px !important;
    text-align: center;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.search-input {
    flex: 1 1 200px;
    min-width: 200px;
    max-width: 200px;
}

.search-input .MuiInputLabel-root {
    color: #fefefe;
}

.search-input .MuiOutlinedInput-root {
    background-color: rgba(38, 49, 67, 0.7);
}

.search-input .MuiOutlinedInput-notchedOutline {
    border-color: none !important;
}

.search-input .MuiSvgIcon-root {
    color: white;
}

.search-input .MuiSelect-select {
    color: white;
}

.search-input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #002e4d;
}

.search-input .MuiInputLabel-root.Mui-focused {
    color: white !important;
}

.search-button button {
    background-color: #3498db;
    padding: 12px 30px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(52, 152, 219, 0.3);
    position: relative;
    top: 12px;
    margin-bottom: 10px;
    text-transform: none;
    font-size: 18px !important;
}